{erl_opts, [debug_info]}.
{dist_node, [
    {sname, 'ra-toolbox'}
]}.
{profiles,
 [{test, [{deps, [proper,
                  meck,
                  {inet_tcp_proxy,
                   {git, "https://github.com/rabbitmq/inet_tcp_proxy",
                    {branch, "master"}}}
                 ]}]}
 ]
}.
{deps, [
        {ra, {git, "git://github.com/rabbitmq/ra.git",
              {branch, "master"}}}
       ]}.
